{% extends 'base.html' %}

{% block meta %}
<title>Daftar Task</title>
{% endblock meta %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light justify-content-end">
    <div class="container-fluid">
        <a class="navbar-brand">Todolist</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'todolist:create-task' %}">Tambah Task Baru</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav text-right">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'todolist:logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="fs-2 text-center py-4">Welcome, {{ name }}!</div>

{% for todo in list_todolist %}
<div class="card" style="margin:auto; width: 70%;">
    <div class="card-header text-white" style="background-color:#0f8e9a;">
        <div class="fw-bold">{{todo.title}}</div>
        <div style="text-align:right">{{todo.date}}</div>
    </div>

    <div class="card-body" style="background-color:rgb(173, 223, 239);">
        <p class="card-text">{{todo.description}}</p>
        <br>
        {% if todo.is_finished %}
            <p class="card-text fw-bold">Selesai</p>
        {% else %}
            <p class="card-text fw-bold">Belum Selesai</p>
        {% endif %}
        <a href="update-task/{{todo.id}}" class="btn btn-success">Ubah Status</a>
        <a href="delete-task/{{todo.id}}" class="btn btn-danger">Hapus</a>
    </div>
</div>
<br>
{% endfor %}

{% if messages %}
        {% for message in messages %}
            <br>
            <div class="toast show" role="alert" style="margin: auto;">
                <div class="toast-body text-center bg-success text-white">
                    {{message}}
                </div>
            </div>
        {% endfor %}
{% endif %}

{% endblock content %}