{% extends 'base.html' %}

{% block meta %}
<title>Daftar Task</title>
{% endblock meta %}

{% block content %}

<button><a href="{% url 'todolist:create-task' %}">Tambah Task Baru</a></button>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>

<p>Welcome, {{ name }}!</p>

<table>
    <tr>
    <th>Tanggal Pembuatan Task</th>
    <th>Judul Task</th>
    <th>Deskripsi Task</th>
    <th>Status Penyelesaian Task</th>
    <th>Ubah Status Task</th>
    <th>Hapus Task</th>
    </tr>
    {% for todo in list_todolist %}
        <tr>
            <td>{{todo.date}}</td>
            <td>{{todo.title}}</td>
            <td>{{todo.description}}</td>
            {% if todo.is_finished %}
                <td>Selesai</td>
            {% else %}
                <td>Belum Selesai</td>
            {% endif %}
            <td><button><a href="update-task/{{todo.id}}">Ubah Status</a></button></td>
            <td><button><a href="delete-task/{{todo.id}}">Hapus</a></button></td>
        </tr>
    {% endfor %}
</table>

{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock content %}